/ {
    behaviors {
        bond_clear_hold: bond_clear_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "BOND_CLEAR_HOLD";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <2000>;
            // Sửa lại để nhận tham số linh hoạt hơn
            bindings = <&bt>, <&none>; 
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // BT_CLR_ALL sẽ xóa toàn bộ profile lưu trong chip
                &bond_clear_hold BT_CLR
            >;
        };
    };
};