# Kconfig.shield
# Shield definition for ZMK build system
#
# Location: config/boards/shields/battery_monitor/Kconfig.shield

config SHIELD_BATTERY_MONITOR
    def_bool $(shields_list_contains,battery_monitor)
